/* .overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transition: opacity 0.3s ease-in-out;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  position: relative;
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

.modal:hover {
  transform: scale(1);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #6b7280;
  transition: color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  color: #374151;
}

.content {
  text-align: center;
}

.iconWrapper {
  width: 100px;
  background-color: #fee2e2;
  padding: 21px 0px 22px 0px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation: bounce 1.5s infinite;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.icon {
  color: #ef4444;
  font-size: 3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 0.75rem;
}

.description {
  color: #6b7280;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.cancelButton {
  background-color: #e5e7eb;
  color: #374151;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.cancelButton:hover {
  background-color: #d1d5db;
  color: #111827;
}

.deleteButton {
  background-color: #ef4444;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.deleteButton:hover {
  background-color: #dc2626;
} */
