@import "tailwindcss";
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 10px;
}

.ticker-container {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #4f46e5, #9333ea);
  padding: 10px 0;
}

.ticker-wrapper {
  display: flex;
  white-space: nowrap;
}

.ticker-content {
  display: flex;
  animation: ticker-scroll 10s linear infinite;
}

.ticker-item {
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
  min-width: 100%;
}

.clip-trapezoid {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
